<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="CRSTESTContext" connectionString="Data Source=ISCRSDB2;Initial Catalog=CRSTEST;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
        <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-xCRS.Web-20130318113733;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-xCRS.Web-20130318113733.mdf"
            providerName="System.Data.SqlClient" />
        <add name="xCRSContext" connectionString="Data Source=ISCRSDB2;Initial Catalog=xCRS;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>