@{
    ViewBag.Title = "Proposal Round";
}

 <!DOCTYPE html>  
 <html>  
 <body>  
   <table id="proposalRound" class="table table-striped table-hover table-condensed">  
     <thead>  
       <tr>  
         <th>VPN</th>  
         <th>Round Number</th>  
         <th>Contractor Type Code</th>  
         <th>PM Code</th>  
         <th>PE Code</th>  
         <th>PS Code</th>  
         <th>Is Westat Prime</th>  
         <th>Westat Sub To</th>  
         <th>Subcontractors</th>  
         <th>Consultants</th>  
         <th>Vendors</th>  
         <th>Round Type Code</th>  
         <th>Due Date</th>  
         <th>Primary Delivery Mode Code</th>  
         <th>Delivery Confirmed Date</th>  
         <th>Due Place</th>  
         <th>SDB Part Plan Required</th>  
         <th>SB Subcontract Plan Required</th>  
         <th>NACIS_SIC_Code</th>  
         <th>Bid Amount</th>  
         <th>Bid Fee Percent</th>  
         <th>Rate Discount</th>  
         <th>SB Percent of Contract</th>  
         <th>SB Percent of Outsourcing</th>  
         <th>Exp. ContractStart Date</th>  
         <th>Exp. Contract End Date</th>  
         <th>Round Status Code</th>  
       </tr>  
     </thead>  
     <tbody id="prList" data-bind="foreach: ProposalRounds">  
       <tr>  
         <td>           
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="text : WPN"></span>  
         </td>  
         <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="text : RoundNumber"></span>  
         </td>          
         <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="text : ContractTypeCode"></span>  
         </td>
         <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="text : PMCode"></span>  
         </td>           
         <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="text : PECode"></span>  
         </td>           
         <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="text : PSCode"></span>  
         </td>           
         <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="text : IsWestatPrime"></span>  
         </td>
           <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="text : WestatSubTo"></span>  
         </td>
           <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="text : Subcontractors"></span>  
         </td>
           <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="text : Consultants"></span>  
         </td>
           <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="text : Vendors"></span>  
         </td>    
            <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="text : RoundTypeCode"></span>  
         </td>    
           <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="text:DueDate"></span>  
         </td>    
           <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="text : PrimaryDeliveryModeCode"></span>  
         </td>    
           <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="text : DeliveryConfirmedDate"></span>  
         </td>    
           <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="text : DuePlace"></span>  
         </td>    
           <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="bool : SDBPartPlanRequired"></span>  
         </td>    
           <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="bool : SBSubcontractPlanRequired"></span>  
         </td>    
           <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="text : NAICS_SIC_Code"></span>  
         </td>    
           <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="text : BidAmount"></span>  
         </td>    
           <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="text : BidFeePercent"></span>  
         </td>    
           <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="text : RateDiscount"></span>  
         </td>    
           <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="text : SBPercentOfContract"></span>  
         </td>    
           <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="text : SBPercentOfOutsourcing"></span>  
         </td>    
           <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="text : ExpectedContractStartDate"></span>  
         </td>    
           <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="Date : ExpectedContractEndDate"></span>  
         </td>    
           <td>  
           <span style="color: darkgrey; font-size: 10pt; font-weight: bold" data-bind="text : RoundStatusCode"></span>  
         </td>    
        <td>  
           <button class="proposalRoundDeleter btn btn-danger">  
             Delete  
           </button>  
         </td>  
       </tr>  
     </tbody>  
   </table>    
   @Scripts.Render("~/bundles/ProposalRound")  
 </body>  
 </html>  