@model IEnumerable<xCRS.CoreModel.Employee>
@* YJ, 3/26/13, http://stackoverflow.com/questions/7560253/asp-net-mvc-3-razor-partial-view-jquery-included-in-main-layout *@
@section scripts{
    <script src="~/Scripts/jquery.eComboBox.min.js" type="text/javascript"></script>
}
<table>
    <tr>
        <td>
           Staff Name:
        </td>
        <td>
            @* TODO: YJ, 03/26, model and ddl helper syntax 
            @Html.DropDownList("EmployeeFullName", Model.Name)
            *@
        </td>
        <td>
            Westat ID:
        </td>
        <td>
            @* TODO: YJ, 03/26, model and ddl helper syntax 
            @Html.DropDownList("EmployeeID", Model.ID)
            *@
        </td>
    </tr>
</table>
@section scripts{
    @* TODO: YJ, 3/26, js to connect EmployeeFullName dropdown to EmployeeID so that change selection in name will result in change in ID *@
    <script type="text/javascript">
        <!-- http://www.devcurry.com/2011/05/jquery-editable-combo-box.html --!>
        $(function () {
            $("#EmployeeFullName").eComboBox();
        });
    </script>
}
