@model xCRS.CoreModel.HRCaseType
<div class="pull-right span2">
    @* TODO: YJ, 3/26, design FormView and WizardView hierarchy and controller hierarchy *@
    @Html.ActionLink("Form View", "index", "Home") | @Html.ActionLink("Wizard View", "wizard", "Home") 

</div>